body {
background-color: #93ff26;
}
p {
font-family: calibri;
font-size: 16px;
}

.button {
    background-color: #9933ff;
    border-style: solid;
    border-color: black;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	top: 20%;
	left: 10%;
	position: absolute;
}
.button1 {
    background-color: #9933ff;
     border-style: solid;
    border-color: black;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	top: 20%;
	left: 28%;
	position: absolute;
}
.button2 {
    background-color: #9933ff;
     border-style: solid;
    border-color: black;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	top: 20%;
	left: 50%;
	position: absolute;
}
.button3 {
    background-color: #9933ff;
     border-style: solid;
    border-color: black;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	top: 20%;
	left: 65%;
	position: absolute;
}
.button4 {
    background-color: #9933ff;
     border-style: solid;
    border-color: black;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	top: 40%;
	left: 10%;
	position: absolute;
}
.button5 {
    background-color: #9933ff;
     border-style: solid;
    border-color: black;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	top: 40%;
	left: 35%;
	position: absolute;
}

.form-inline {
    padding:10px;
}
.form-inline > * {
    margin:15px 3px !important;
}

@media print {
        html, body {
            width: 210mm;
            height: 297mm;        
        }
    }